Robot_collision/robot flow.txt
[{"id":"a238bfc1.aaf0c8","type":"mqtt-broker","broker":"192.168.0.13","port":"1883","clientid":""},{"id":"6bcfd1ba.c15508","type":"watch","name":"watch /home/pi/sendToCloud.txt","files":"/home/pi/sendToCloud.txt","x":176.6667022705078,"y":148.88885307312012,"z":"9f051117.185","wires":[["4d29ce0e.c4804"]]},{"id":"dde9f1cd.40279","type":"file in","name":"olvas","filename":"","format":"utf8","x":626.6667308807373,"y":148.88889503479004,"z":"9f051117.185","wires":[["f151ebfb.3cedd"]]},{"id":"f151ebfb.3cedd","type":"mqtt out","name":"","topic":"topic/robot","qos":"","retain":"","broker":"a238bfc1.aaf0c8","x":810.0000686645508,"y":148.88884925842285,"z":"9f051117.185","wires":[]},{"id":"c045876a.33dc58","type":"mqtt in","name":"","topic":"topic/cloud/map","broker":"a238bfc1.aaf0c8","x":177.77778244018555,"y":218.88892364501953,"z":"9f051117.185","wires":[["18456520.ebe73b"]]},{"id":"18456520.ebe73b","type":"file","name":"","filename":"/home/pi/Map.txt ","appendNewline":true,"createDir":false,"overwriteFile":"true","x":604.4444732666016,"y":216.66668319702148,"z":"9f051117.185","wires":[]},{"id":"bb467b08.a018c","type":"mqtt in","name":"","topic":"topic/cloud/path","broker":"a238bfc1.aaf0c8","x":179.99997329711914,"y":267.7778205871582,"z":"9f051117.185","wires":[["8aa60b6d.c4ae6"]]},{"id":"8aa60b6d.c4ae6","type":"file","name":"","filename":"/home/pi/Path.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":595.555606842041,"y":265.5555896759033,"z":"9f051117.185","wires":[]},{"id":"4d29ce0e.c4804","type":"function","name":"filename=payload","func":"msg.filename=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":434.4444580078125,"y":148.88887214660645,"z":"9f051117.185","wires":[["dde9f1cd.40279"]]},{"id":"f74655e2.450bf","type":"mqtt in","name":"","topic":"topic/cloud/signal","broker":"a238bfc1.aaf0c8","x":182.22221755981445,"y":314.44441986083984,"z":"9f051117.185","wires":[["f7ec6e95.244d7"]]},{"id":"f7ec6e95.244d7","type":"file","name":"","filename":"/home/pi/msgFromCloud.txt ","appendNewline":true,"createDir":false,"overwriteFile":"true","x":615.555606842041,"y":311.1111640930176,"z":"9f051117.185","wires":[]}]